body {
  background: linear-gradient(to bottom, #fefefe, #132442);
  color: white;
  padding: px;
}




header {
 background: linear-gradient(to bottom, #940000, #b9b304);
  color: white;
  text-align: center;
  text-shadow: 0.5px 0.5px rgba(150, 188, 253, 0.211);
  color: #000000;
  padding: 15px;
  font-size: 150%;
  font-family: Courier New, monospace
}

section {
  font-size: 20px;
  text-align: center;
}

.imagens {
   overflow: hidden;
}

.imagens img {
  width: 300px;
  height: auto;
     transition: transform 0.15s ease;

}

.imagens :hover {
  transform: scale(1.2);
}

.Annoying_Dog {
  text-align: center;
  text-shadow: 1px 1px rgb(206, 202, 202);
  color: #000000;
  padding-bottom: 15px;

}

.Annoying_Dog img {
  width: 200px;
  height: auto;
  position: relative;
  left: 0%;
  top: 0%;
 border-radius: 15px;
}

.Jogos_criados {
  text-align: center;
  background-color: firebrick;
  padding: 25px;

  table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

}

td,
th {
  text-align: center;
}

td,
th {
  vertical-align: middle;
  height: 50px;
}

.OFF {
  text-align: center;
  font-size: 20px;
  background-size: cover;
  background-image: url(OFF_background_image_2.jpg);
  padding: 50px;

}

.OFF h1 {
  font-size: 35px;
}


.imagens_verticais_OFF {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.imagens_verticais_OFF img {
  width: 350px;
  height: auto;
  border-radius: 15px;
}

.imagens_verticais_OFF2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
}


.imagens_verticais_OFF2 img {
  width: 350px;
  height: auto;
  border-radius: 15px;
}

.form {
  width: 450px;
  margin: 0 auto;
}

form {
  width: 600px;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 7px;
  align-items: center;
}

button {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 8px;
  border: rgb(252, 244, 244);
  cursor: pointer;


}

h2 {
  text-align: center;
}



.Undertale {
  background-size: cover;
  background-image: url(Undertale_background_image_1.png);
  padding: 50px;
}

.Undertale h1{
    padding: 50px;
}


.Undertale_imagens {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 10px;
  place-items: center;
}


.Undertale_imagens img {
  width: 75%;
  height: auto;
  border-radius: 5px;

}

.Deltarune {
  background-size: cover;
  background-image: url(Deltarune_background_image_3.jpg);
  padding: 50px;
}

.Deltarune h1 {
    padding: 50px;
}

.Deltarune_imagens {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 10px;
  place-items: center;
}

.Deltarune_imagens img {
  width: 75%;
  height: auto;
  border-radius: 5px;
}